# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
input/
*.csv
*.xlsx
*.json
*.rtf
scripts_db/request.sql

# Python cache
__pycache__/
*.pyc

# IDE settings
.idea/
.vscode/

#DataBase
.DS_Store