# Core AI & LangChain
langchain>=0.3.0
langchain-community>=0.3.0
langchain-openai>=0.1.0
langsmith>=0.1.120

# Data Analysis
pandas
tabulate

# UI & Visualization
streamlit
plotly
matplotlib
seaborn>=0.12.2
streamlit-option-menu

# Environment & Utils
python-dotenv
# watchdog

# Database
duckdb>=0.10.0